$fz: 16;
$fz_base: 16;

$header_height: 60;

$m: 728px;
$l: 1360px;

$base-white: var(--base-white);
$base-gray: var(--base-gray);
$base-black: var(--base-black);
$base-primary: var(--base-primary);
$base-secondary: var(--base-secondary);

$alt-primary-opacity: var(--alt-primary-opacity);
$alt-primary-lighter: var(--alt-primary-lighter);
$alt-primary-darker: var(--alt-primary-darker);
$alt-light-grey: var(--alt-light-grey);

$bg-lightest-grey: var(--bg-lightest-grey);
$bg-flat-white: var(--bg-flat-white);
$bg-lavender-latte: var(--bg-lavender-latte);
$bg-espresso: var(--bg-espresso);