.section__badge {
  font-weight: 700;
  font-size: em(12, $fz);
  line-height: rem(16);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $base-primary;

  margin: 0;
  margin-bottom: rem(4);
}

.section__title {
  font-weight: 700;
  font-size: em(24, $fz);
  line-height: rem(36);

  text-align: center;
  color: $base-black;

  margin: 0;
  margin-bottom: rem(36);

  @include m {
    font-size: em(42 ,$fz);
    line-height: rem(64);
    margin-bottom: rem(80);
  }
}
