.card {
  @include flex;

  flex-direction: column;
  padding: rem(40) rem(20) rem(20);
  background-color: $base-white;

  &:nth-child(n + 2) {
    margin-top: rem(20);
  }
}

.card__title {
  font-weight: 700;
  font-size: em(18, $fz);
  line-height: rem(32);
  color: $base-black;
  margin: 0;
  margin-bottom: rem(4);
}

.card__description {
  font-weight: 400;
  font-size: em(14, $fz);
  line-height: rem(20);
  color: $base-black;
  margin: 0;
  margin-bottom: rem(16);
}

.card__picture {
  order: -1;
}

.card__img {
  margin-bottom: rem(24);
}

.card__footer {
  @include flex(between);

  width: 100%;
}

.card__price {
  font-weight: 600;
  font-size: em(20, $fz);
  line-height: rem(32);
  color: $base-black;
}

.card__button-ico {
  color: $base-white;
  margin-right: rem(6);
  width: rem(20);
  height: rem(16);
}