.filter {
  @include flex("", flex-start);
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;

  @include m {
    justify-content: flex-start;
  }
}

.filter__title {
  padding: 0;
  margin-bottom: rem(20);
  font-weight: 600;
  font-size: em(16, $fz);
  line-height: rem(24);
  color: $base-black;
}
