.sort {
  @include flex(between);

  width: 100%;
  margin-bottom: rem(19);

  @include m {
    margin-bottom: rem(30);
    justify-content: flex-end;
  }
}

.sort__label {
  font-weight: 600;
  font-size: em(16, $fz);
  line-height: rem(24);

  @include m {
    margin-right: rem(10);
  }
}
